<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
     <div layout:fragment="content">
         <div class="container mt-3">
         <div class="card">
             <div class="card-header">Cutomers List</div>
             <div class="card-body">
                 <table class="table">
                     <tr>
                         <th>ID</th><th>Titre</th><th>ListPhotos</th>
                     </tr>
                     <p th:text="Album"></p>
                      <!--<tr th:each="cus:${ALbum}">
                         <td th:text="${cus.id}">--</td>
                         <td th:text="${cus.titre}">--</td>
                         <td th:text="${cus.photos}">--</td>
                     </tr>  -->
                 </table>
             </div>
             </div>
         </div>
     </div>
</body>
</html>
